// Colors
$white: #fff;
$gray: #333;
$light-gray: #fafafa;
$light-text: #aaa;

// Container
$container-background: $light-gray;
$container-border-color: darken($container-background, 5%);
$container-message-color: $light-text;

// Todo
$todo-completed-color: $light-text;
